fileprocessor/src/main/resources/HDocumentSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.5">
	<xs:element name="documents">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="document">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="pnldref" type="xs:string">
								<xs:annotation>
									<xs:documentation>Free Text – one or more letters followed by a number</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="english" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="title" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1-120 alphanumeric characters</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="120"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="additionalkeywords" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1-1000 alphanumeric characters - Free text words and phrases. One instance for each Keyword</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="additionalkeyword" type="xs:string" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="standardoffencewording" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1 – 2500 alphanumeric characters  separated by breaks</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="2500"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="legislation" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1 – 350 alphanumeric characters</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="350"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="pointstoprove" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1-2500 alphanumeric separated by breaks</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="2500"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="investigatoractions" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code and Decode, multiples allowed</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="investigatoraction" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="code" type="xs:string"/>
																<xs:element name="description" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
 										<xs:element name="policeandcpschargingresponsibilities" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>alphanumeric characters</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="notes" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1-4000 alphanumeric characters separated by breaks </xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="4000"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="standardstatementoffacts" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1-4000 alphanumeric characters separated by breaks.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="4000"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="indictment" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="indictmentindicator" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code and description</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code" type="yntype"/>
													<xs:element name="description" type="yesnotype"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="structuredindictmentindicator" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code and description</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code" type="yntype"/>
													<xs:element name="description" type="yesnotype"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="indictmenttitle" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1-2500 alphanumeric characters</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="2500"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="welshindictmenttitle" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1-2500 alphanumeric characters</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="2500"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="indictmentcountcode" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1  - 13 alphanumeric characters</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0"/>
													<xs:maxLength value="13"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="unstructuredindictmentstandardwording" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1-2500 alphanumeric characters</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="2500"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="structuredindictmentstandardwording" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1-2500 alphanumeric characters</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="2500"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="welshunstructuredindictmentstandardwording" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1-2500 alphanumeric characters</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="2500"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="welshstructuredindictmentstandardwording" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1-2500 alphanumeric characters</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="2500"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="welsh" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="welshoffencetitle" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1-120 alphanumeric characters</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="120"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="welshstandardoffencewording" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1-2500 alphanumeric characters</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="2500"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="welshstandardstatementoffacts" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1-4000 alphanumeric characters</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="4000"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="welshlegislation" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1-350 alphanumeric characters</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="350"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="other" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="powersofarrest" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1-2500 alphanumeric characters</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="2500"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="modeoftrial" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code and description</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code" type="xs:string"/>
													<xs:element name="description" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="consents" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code and Decode, multiples allowed</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="consent" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="code">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="1"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="description" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="timelimitforprosecutions" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1-40 alphanumeric characters</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="40"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="penalty" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>alphanumeric characters</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="geographicregion" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code and description</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="description" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="codes">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="cjsoffencecode">
											<xs:annotation>
												<xs:documentation>7 or 8 characters </xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="7"/>
													<xs:maxLength value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="previouscjsoffencecode" minOccurs="0">
											<xs:annotation>
												<xs:documentation>7 or 8 characters </xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="7"/>
													<xs:maxLength value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="recordableonpncindicator" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code and description</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code" type="yntype"/>
													<xs:element name="description" type="yesnotype"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="pncacpooffencecode" minOccurs="0">
											<xs:annotation>
												<xs:documentation>7-13 characters, nnn.nn.nnn.nn or ll/ nnn.nn.nnn.nn</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:pattern value="([A][a][/]|[A][t][/]|[I][/]|[C][/]){0,1}[0-9]{1,3}.[0-9]{1,2}.[0-9]{1,3}.[0-9]{1,2}"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="notifiabletomoj" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code and description</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code" type="yntype"/>
													<xs:element name="description" type="yesnotype"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="mojstatscode">
											<xs:annotation>
												<xs:documentation>6 characters Alphanumeric. Three numeric's followed by / followed by two numeric’s</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="6"/>
													<xs:pattern value="[0-9]{3}/[0-9]{2}"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="mopireviewgroup" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code and description</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code" type="xs:string"/>
													<xs:element name="description" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="mopinoteslink" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>alphanumeric characters</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="disqualificationclass" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code and description</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="description" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="dvlacode" minOccurs="0">
											<xs:annotation>
												<xs:documentation>4 character Alphanumeric </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="description" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="maxpenaltypoints" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1-2 numeric containing a number between 2 and 12</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:int">
													<xs:minInclusive value="2"/>
													<xs:maxInclusive value="12"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="minpenaltypoints" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1-2 numeric containing a number between 2 and 12</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:int">
													<xs:minInclusive value="2"/>
													<xs:maxInclusive value="12"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="seatbeltoffence" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code and description</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code" type="xs:string"/>
													<xs:element name="description" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="fptissuedbypolice" type="xs:decimal">
											<xs:annotation>
												<xs:documentation>Value without currency symbol</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="fptgraduated" type="xs:decimal">
											<xs:annotation>
												<xs:documentation>Value without currency symbol</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="fptgraduatedhigh" type="xs:decimal">
											<xs:annotation>
												<xs:documentation>Value without currency symbol</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="pndissuedbypolice" type="xs:decimal">
											<xs:annotation>
												<xs:documentation>Value without currency symbol</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="pndissuedbylocalauthorities" type="xs:decimal">
											<xs:annotation>
												<xs:documentation>Value without currency symbol</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="pndissuedbyothers" type="xs:decimal">
											<xs:annotation>
												<xs:documentation>Value without currency symbol</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="roadsidedeposits" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code and description</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code" type="xs:string"/>
													<xs:element name="description" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="libra" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="libracategory" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code and description</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="description" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="fineindicator" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code and description</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code">
														<xs:simpleType>
															<xs:restriction base="yntype">
																<xs:length value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="description" type="yesnotype"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="maxfinetypemagct" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code and description</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="description" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="maxfinemagct" minOccurs="0">
											<xs:annotation>
												<xs:documentation>5-16 characters. A sign ( + ) followed by a maximum of 14 numeric characters
representing the amount expressed in pounds and pence to two decimal places
This allows for a minimum amount of +0.01 and a maximum
amount of +999,999,999,999.99
</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:minInclusive value="0.01"/>
													<xs:fractionDigits value="2"/>
													<xs:maxExclusive value="1000000000000"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="maxfinetypecrownct" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code and description</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="description" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="maxfinecrownct" minOccurs="0">
											<xs:annotation>
												<xs:documentation>5-16 characters. A sign ( + ) followed by a maximum of 14 numeric characters
representing the amount expressed in pounds and pence to two decimal places
This allows for a minimum amount of +0.01 and a maximum
amount of +999,999,999,999.99
</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:decimal">
													<xs:minInclusive value="0.01"/>
													<xs:fractionDigits value="2"/>
													<xs:maxExclusive value="1000000000000"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="custodialindicator" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code and description</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code" type="yntype"/>
													<xs:element name="description" type="yesnotype"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="maxcustodialsentenceunitmagct" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code and description</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="4"/>
																<xs:maxLength value="6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="description" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="maxcustodialsentencelengthmagct" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1-3 characters numeric</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:int">
													<xs:minInclusive value="1"/>
													<xs:maxInclusive value="999"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="maxcustodialsentenceunitcrownct" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code and description</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="4"/>
																<xs:maxLength value="6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="description" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="maxcustodialsentencelengthcrownct" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1-3 characters numeric</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:int">
													<xs:minInclusive value="1"/>
													<xs:maxInclusive value="999"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="complexpenaltydetails" minOccurs="0">
											<xs:annotation>
												<xs:documentation>1-4000 alphanumeric characters</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="4000"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="miscode" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code and description</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="description" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="hoproceedingscode" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>2 numbers</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ancillary">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="offencestartdate" type="xs:date" minOccurs="0">
											<xs:annotation>
												<xs:documentation>10 character date in the format CCYY-MM-DD</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="offenceenddate" type="xs:date" minOccurs="0">
											<xs:annotation>
												<xs:documentation>10 character date in the format CCYY-MM-DD</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="datecreated" type="xs:date" minOccurs="0">
											<xs:annotation>
												<xs:documentation>10 character date in the format CCYY-MM-DD</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="auditofamendments" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Free text field</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="legislationcode" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code and description</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="link" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="lastupdate" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Free text field</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="dateoflastupdate" type="xs:date">
											<xs:annotation>
												<xs:documentation>10 character date in the format CCYY-MM-DD</xs:documentation>
											</xs:annotation>
										</xs:element>
                    <xs:element name="fptupdatedate" type="xs:date" minOccurs="0">
											<xs:annotation>
												<xs:documentation>10 character date in the format CCYY-MM-DD</xs:documentation>
											</xs:annotation>
										</xs:element>
                    <xs:element name="offencewordinggroup" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Free text field separated by breaks</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="groups" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Code and description</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="code" type="xs:string"/>
													<xs:element name="description" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="type" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="yntype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="yesnotype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Yes"/>
			<xs:enumeration value="No"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
